{% extends "base.html" %}
{% block script %}
<script>
    $(document).ready(function(){
        console.log("working.. ");

        $.ajax({
            url:"/api/tweet/",
            method:"GET",
            success:function(data){
                // console.log(data)
                $.each(data, function(key, value){
                    var tweetKey = key;
                    var tweetContent = value.content;
                    var tweetUser = value.user;
                    $("#tweet-container").append(
                        "<li>" + tweetContent + "<br/>" + tweetUser.username + " " + "|" + "<a href='#'>View</a>" + "</li>"
                    )
                    // console.log(key)
                    // console.log(value.user)
                    // console.log(value.content)
                })
          
            },
            error:function(data){
                console.log("data")
                console.log("error")

            }
       
    })
});
</script>
   
{% endblock script %}

{% block content %}   

    <div id="tweet-container">


    </div>

        <div class='row'>
                <div class='col-sm-3 col-sm-12' style='background-color:greenyellow;'>
                    <h1>{{request.user}}</h1>
                    </div>
                       
                            <div class='col-sm-9'>
                                    {% if not request.GET.q %}
                                    <div class=''>
                                            {% include "tweets/form.html" with form=create_form  action_url=create_url btn_title='Tweet'  %}
                                
                                    </div>    
                                    {% endif %} 
        {% for object in object_list %}

        <div class="media">
                <div class="media-left">
                  <a href="#">
                      {% if object.image %}
                    <img class="media-object" src="..." alt="...">
                    {% endif %}
                  </a>
                </div>
                <div class="media-body">
                        {{ object.content}} <br/>
           
                
                        via {{ object.user_id}} | {{ object.timestamp|timesince}} ago | <a href="{{object.get_absolute_url}}">View</a>
                        
                 
                  ...
                </div>
              </div>
              <hr>
        <!-- <h3>{{ object.content}}</h3>
        <p> {{ object.user_id}}<br/>

            {{ object.timestamp|timesince}} ago </p> <br/> -->

        {% empty %}
            {%  if request.GET.q %}
            <p> No tweet found. </p>
            {% else %}
            <p> No tweet yet. </p>
            {% endif %}
        {% endfor %}
    
    </div>
</div>
{% endblock content %}